// COLORS

$--color-white: #fff;
$--color-black: #000;


//FONTS
$--font-black: 'Poppins-Black';
$--font-bold: 'Poppins-Bold';
$--font-light: 'Poppins-Light';
$--font-regular: 'Poppins-Regular';
$--font-medium: 'Poppins-Medium';
